.main1{
    margin: 30px 30px 30px 30px;
    align-items: center;
    font-size: 50px;
    text-decoration:underline  #7ec4e8;
    font-weight: 800;
}

.mainContainer2{
    height: 900px;
    margin: 30px 30px 30px 30px;
    border: 1px solid grey;
}



.urlLink{
	font-size: 20px;
	font-weight: bold;
}